.home-page-container{
  display: flex;
}

.home-page-title-container{
  margin-top: 2.5rem;

}

.home-page-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 4.7rem;
  font-weight: bold;
  color:#b1a7cf;
  letter-spacing: 0.10rem;
  text-shadow: #b1a7cf 1px 0 7px;
}
