.home-page-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-page-title-container{
  margin-top: 2.5rem;

}

.home-page-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 4.7rem;
  font-weight: bold;
  color:#b1a7cf;
  letter-spacing: 0.10rem;
  text-shadow: #b1a7cf 1px 0 7px;
}

.home-page-welcome-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem ;
  height: 15rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(14, 6, 44, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.home-page-welcome{
color: #9fa4d6;
font-weight: bold;
letter-spacing: 0.05rem;
padding: 0 2rem;
line-height: 1.2rem;
}

.container-arrow{
  margin-top: 19rem;
  position: fixed;
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
}

// p {
//   color: #fff;
//   font-weight: bold;
//   margin: 0 0 20px;
// }


/* Arrow & Hover Animation */
#more-arrows {
width: 75px;
height: 65px;

&:hover {
  
  polygon {
    fill: #FFF;
    transition: all .2s ease-out;

    &.arrow-bottom {
      transform: translateY(-18px);
    }

    &.arrow-top {
      transform: translateY(18px);
    }
    
  }

}

}

polygon {
fill: #FFF;
transition: all .2s ease-out;
  
&.arrow-middle {
  opacity: 0.75;
}

&.arrow-top {
  opacity: 0.5
}
 
}
