.Section {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 8rem;
  min-height: calc(100vh - 4rem);
  // min-height: 90vh;
}

.home-page-container{
  display: flex;
  flex-direction: column;
}

.home-page-title-container{
  margin-top: 2.5rem;
}

.home-page-title,h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4.7rem;
  font-weight: bold;
  color:#b1a7cf;
  letter-spacing: 0.12rem;
  text-shadow: #b1a7cf 2px 1px 12px;
  // text-shadow: 5px 5px 15px #b1a7cf,
  //   -5px 5px 15px #77708b,
  //   -5px -5px 15px #77708b,
  //   5px -5px 15px #77708b;
}

.home-page-welcome-container{
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem ;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(14, 6, 44, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  overflow: auto;
}

.home-page-welcome{
color: #9fa4d6;
font-weight: bold;
letter-spacing: 0.05rem;
padding: 3rem 3rem;
line-height: 1.4rem;
}
