.Constellations-Modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  max-width: 100%;
  background: rgba(0, 0, 0, .25);
  z-index: 11;

  .Block {
    position: relative;
    background-color:#b1a7cfbe;
    border-radius: 1rem;
    max-width: 60rem;
    max-height: 100%;
    height: 26rem;    
    flex-direction: row;

    @media screen and (max-width: 960px) {
      flex-direction: column-reverse;
      height: unset;
    }
  }

  .Title,
  .Subtitle {    
    color: #000;
  }

  &-Close {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    right: -1.5rem;
    top: -1.5rem;
    cursor: pointer;
  }

  &-Details,
  &-Description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-Details {
    justify-content: center;
    width: 30rem;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    &-Image {
      margin-bottom: 1rem;
      height: calc(100% - 2rem);
      width: 100%;
      object-fit: contain;
    }

    .Title {
      margin-bottom: .5rem;
    }
  }

  &-Description {
    max-height: 22rem;
    margin-left: 2rem;
    margin-right: -1rem;
    padding-right: 1rem;
    max-width: 30rem;
    overflow: auto;

    @media screen and (max-width: 960px) {
      max-width: unset;
      margin: 0 0 2rem 0;
      padding: 0;
    }

    &-Paragraph {
      line-height: 1.25rem;

      & + .Subtitle {
        margin-top: 1rem;
      }
    }

    .Subtitle {
      text-align: left;
      margin-bottom: .25rem;
    }
  }

  &-Favorite {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;

    &--favorited {
      color: red;
    }
  }
}