.myth-page-container {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
}

.myth-page-title-container {
  margin-top: 2.5rem;
}

.myth-page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #c0b6dc;
  letter-spacing: 0.12rem;
  text-shadow: #b1a7cf 2px 1px 12px;
  // text-shadow: 5px 5px 15px #b1a7cf,
  //   -5px 5px 15px #77708b,
  //   -5px -5px 15px #77708b,
  //   5px -5px 15px #77708b;
}

.myth-page-paragraph-container {
  height: 20rem;
  width: 50rem;
  position: relative;
  left: 0vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 6rem auto;
  // style gradient
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(14, 6, 44, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  overflow: hidden;
}

.myth-page-paragraph {
  display: flex;
  align-items: center;
  color: #9fa4d6;
  width: 60%;
  height: 100%;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 3rem 3rem;
  line-height: 1.4rem;
  // border: solid 5px black;
  // overflow: auto;
}

.container-arrow {
  margin-top: 19rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.myth-page-picture {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  padding: 5% 3%;
}
.myth-page-picture img {
  border: 1px solid coral;
  height: 80%;
  width: 100%;
  margin-bottom: 1rem;
}

.myth-page-paragraph-title {
  border: 1px solid sandybrown;
  font-size: 2rem;
  font-weight: bold;
  color: #b1a7cf;
  letter-spacing: 0.12rem;
  text-shadow: #b1a7cf 2px 1px 6px;
}

// p {
//   color: #fff;
//   font-weight: bold;
//   margin: 0 0 20px;
// }

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;

  &:hover {
    polygon {
      fill: #ad98eb77;
      transition: all 0.2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
    }
  }
}

polygon {
  fill: rgba(255, 255, 255, 0.247);
  transition: all 0.2s ease-out;

  &.arrow-middle {
    opacity: 0.75;
  }

  &.arrow-top {
    opacity: 0.5;
  }
}
