@import "../../../styles/mixins";

.Homepage .Myth {
  &-Title {
    font-size: 3.5rem;
  }

  &-Block {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 6rem auto;
    height: 25rem;
    align-items: flex-start;
    overflow: scroll;
  }

  &-Picture {
    display: flex;
    flex-direction: column;
    position: sticky;
    min-width: 10rem;
    top: 1rem;
    height: 20rem;

    img {
      border-radius: 20px;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin-bottom: 1rem;
    }
  }

  &-Description {
    padding-left: 3rem;

    &-Title {
      font-size: 1.8rem;
      color: var(--color-lilac-2);
      font-weight: bold;
      padding: 1.5rem 0 0.5rem 0;
    }

    &-Text {
      @include paragraph;
      padding: 1rem 0;
      line-height: 1.6rem;
    }
  }
}
