@mixin container {
  // width: 80rem;
  max-width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: auto;
}

@mixin paragraph {
  color: var(--color-lilac-2);
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 3rem;
  line-height: 1.4rem;
}

@mixin card {
  @include container;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(14, 6, 44, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@mixin input {
  background-color: #fff;
  border: none;
  border-radius: 99rem;
  padding: 0.75rem;
  margin: 0.125rem;

  &::placeholder {
    font-style: italic;
  }
}

@mixin button {
  @include input;

  background-color: var(--color-lilac-2);
  font-weight: 600;
  transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) background-color;

  &:hover {
    background-color: var(--color-lilac);
  }
}

@mixin title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.7rem;
  font-weight: 400;
  color: var(--color-lilac-2);
  letter-spacing: 0.12rem;
  text-shadow: var(--color-lilac-2) 1px 0.5px 8px;
  text-align: center;
}
