/* Responsive variables css values: MOBILE FIRST */

html {
  /* COLORS */
  --color-lilac-light: #e5dff8;
  --color-lilac: #c0b6dc;
  --color-lilac-2: #9f98ca;
  --color-lilac-light-transp: #c0b6dc62;
  --color-lilac-transp: #ad98eb77;
  --color-lilac-transp-2: rgba(255, 255, 255, 0.247);
  --color-grey-blue: rgb(52, 53, 94);
  --color-violet-light: #8479b9;
  --color-violet: #2f1e61;
  --color-violet-deep: #05092f;
  --color-background1: rgba(33, 34, 93, 0.944) 0%;
  --color-background2: rgb(2, 2, 45) 100%;
}
