/* Responsive variables css values: MOBILE FIRST */

html {
  /* COLORS */
  --color-lilac-light: #e5dff8;
  --color-lilac: #c0b6dc;
  --color-lilac-2: #9f98ca;
  --color-lilac-light-transp: #c0b6dc62;
  --color-lilac-transp: #ad98eb77;
  --color-lilac-transp-2: rgba(255, 255, 255, 0.247);
  --color-grey-blue: rgb(52, 53, 94);
  --color-violet-light: #8479b9;
  --color-violet: #2f1e61;
  --color-violet-deep: #05092f;

  /* TYPOGRAPHY */
  --text-xs: 10px;
  --text-2xs: 12px;
  --text-s: 14px;
  --text-2s: 16px;
  --text-m: 18px;
  --text-2m: 22px;
  --text-l: 28px;
  --text-2l: 38px;
  --text-xl: 42px;
  --text-2xl: 54px;
  --text-xxl: 64px;

  /* SPACING */
  --spacer-xs: 2px;
  --spacer-2xs: 4px;
  --spacer-3xs: 8px;
  --spacer-s: 12px;
  --spacer-2s: 16px;
  --spacer-3s: 24px;
  --spacer-m: 32px;
  --spacer-2m: 48px;
  --spacer-3m: 64px;
  --spacer-l: 96px;
  --spacer-2l: 128px;
  --spacer-3l: 192px;
  --spacer-xl: 256px;

  /* GRID */
  --grid-main: repeat(4, minmax(0, 1fr));
  --grid-gap: 10px;
  --container-padding: 10px;
  --maxwidth: 500px;
}

/* Size: xs */
@media screen and (min-width: 500px) {
  html {
    --grid-main: repeat(6, minmax(0, 1fr));
    --grid-gap: 10px;
    --container-padding: 10px;
    --maxwidth: 700px;
  }
}
/* Size: sm */
@media screen and (min-width: 700px) {
  html {
    --grid-main: repeat(8, minmax(0, 1fr));
    --grid-gap: 15px;
    --container-padding: 15px;
    --maxwidth: 900px;

    /* TYPOGRAPHY */
    --text-xs: 12px;
    --text-2xs: 14px;
    --text-s: 16px;
    --text-2s: 18px;
    --text-m: 20px;
    --text-2m: 24px;
    --text-l: 36px;
    --text-2l: 48px;
    --text-xl: 64px;
    --text-2xl: 72px;
    --text-xxl: 96px;
    --text-2xxl: 99px;
  }
}
/* Size: md */
@media screen and (min-width: 900px) {
  html {
    --grid-main: repeat(10, minmax(0, 1fr));
    --grid-gap: 20px;
    --container-padding: 20px;
    --maxwidth: 1450px;
  }
}
/* Default - Desktop */
@media screen and (min-width: 1450px) {
  html {
    --grid-main: repeat(12, minmax(0, 1fr));
    --grid-gap: 20px;

    /* TYPOGRAPHY */
    --text-xs: 12px;
    --text-2xs: 14px;
    --text-s: 16px;
    --text-2s: 18px;
    --text-m: 20px;
    --text-2m: 36px;
    --text-l: 48px;
    --text-2l: 64px;
    --text-xl: 72px;
    --text-2xl: 96px;
    --text-xxl: 144px;
    --text-2xxl: 148px;
  }
}
