@use "reset";
@use "vars";
@import "mixins";

body,
html {
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    var(--color-background1),
    var(--color-background2)
  );
}

.Container {
  @include container;
}

.Main {
  @include container;
  min-height: calc(100vh - 20rem);
}

.Block {
  @include card;

  &--small {
    max-width: 24rem;
  }
}

.Section {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: calc(100vh - 3rem);

  &-Title {
    @include subtitle;
  }
}

.Page-Title {
  margin: 4rem 0 2rem 0;
}

.Input {
  @include input;

  &--dark {
    color-scheme: dark;
    color: var(--color-lilac);
    background-color: var(--color-grey-blue);

    &:focus {
      color: var(--color-lilac-2);
      background-color: var(--color-violet);
    }
  }
}

.Button {
  @include button;

  &--dark {
    color: var(--color-lilac-light);
    background-color: var(--color-violet-deep);
    color-scheme: dark;
  }
}

.Title {
  @include title;

  &--small {
    font-size: 2rem;
    text-shadow: var(--color-lilac-2) 2px 1px 6px;
  }
}

.Subtitle {
  @include title;

  font-size: 1.5rem;
  font-style: italic;
}

.Form {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .Button,
  .Input {
    width: 100%;
  }

  .Label {
    margin: 0.25rem;
    font-weight: 600;
    color: var(--color-lilac-2);
  }
}

.Error {
  color: #f47174;
  margin-bottom: 1rem;
  font-weight: 600;
}
