@use 'reset';
@use 'vars';
@import 'mixins';

body,
html {
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to top,
      hsl(234.15, 80.39%, 10%) 0%,
      hsl(234.55, 78.79%, 10.23%) 8.1%,
      hsl(235.69, 74.66%, 10.9%) 15.5%,
      hsl(237.41, 69.17%, 11.92%) 22.5%,
      hsl(239.56, 63.35%, 13.23%) 29%,
      hsl(241.92, 60.92%, 14.5%) 35.3%,
      hsl(244.25, 59.37%, 15.82%) 41.2%,
      hsl(246.42, 58%, 17.23%) 47.1%,
      hsl(248.38, 56.81%, 18.66%) 52.9%,
      hsl(250.1, 55.8%, 20.06%) 58.8%,
      hsl(251.56, 54.97%, 21.39%) 64.7%,
      hsl(252.77, 54.31%, 22.59%) 71%,
      hsl(253.72, 53.8%, 23.61%) 77.5%,
      hsl(254.42, 53.43%, 24.4%) 84.5%,
      hsl(254.85, 53.2%, 24.92%) 91.9%,
      hsl(255, 53.13%, 25.1%) 100%);
  background-repeat:no-repeat;
  background-attachment:fixed;
};

.container {
  @include container;
}

.Main {
  @include container;
}

.Block {
  @include card;
}

.Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.7rem;
  font-weight: bold;
  color: #b1a7cf;
  letter-spacing: .12rem;
  text-shadow: #b1a7cf 2px 1px 12px;
  text-align: center;
}