.Homepage {
  display: flex;
  flex-direction: column;
}

.Section {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 8rem;
  min-height: calc(100vh - 4rem);
}

.home-page-welcome{
  color: #9fa4d6;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 3rem 3rem;
  line-height: 1.4rem;
}
