@import "../styles/mixins";

.Homepage {
  display: flex;
  flex-direction: column;

  .Map {
    height: min-content;
  }
}

.Homepage .Detail {
  &-Block {
    margin: 6rem auto;
    height: 26rem;
    overflow: scroll;
    display: block;

    &-Title {
      margin-bottom: 1rem;
      position: sticky;
      top: 0rem;
    }

    &-Container {
      display: grid;
      grid-template-columns: 40% 60%;
      height: 100%;
      max-height: calc(100% - 3rem);
    }
  }

  &-Picture {
    display: flex;
    flex-direction: column;
    position: sticky;
    min-width: 10rem;
    top: 3rem;
    height: min-content;

    img {
      border-radius: 20px;
      height: 16rem;
      object-fit: cover;
      object-position: center;
      margin-bottom: 1rem;
    }

    &-Title {
      font-style: italic;
      font-size: 1.5rem;
    }
  }

  &-Description {
    padding: 1.2rem 1rem 0 3rem;
    overflow-y: auto;
    height: 100%;
    max-height: calc(100% - 1.5rem); // augmenter pour le coeur

    &-Title {
      @include subtitle-2;
      text-align: left;
      padding: 0.5rem 0.5rem;

      &:first-child {
        padding-top: 0;
      }
    }

    &-Text {
      @include paragraph;
      padding: 0rem 0 2.4rem 0;
      line-height: 1.6rem;
    }
    &-Text:last-child {
      padding-bottom: 0;
    }
  }

  &-Modal-Favorite {
    @include svg;
    color: var(--color-lilac);
    font-size: 2rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;

    &--favorited {
      color: var(--color-lilac-2);
    }
  }
}
