@import "../styles/mixins";

#tsparticles {
  //   overflow: hidden;
  //   position: absolute;
  //   top: 0px;
  //   bottom: 0px;
  //   left: 0px;
  //   right: 0px;
  //   z-index: 0;
  height: 100vh;
}

.NotFound {
  margin: 0 5rem;
  display: flex;
  align-items: center;
}

.card404 {
  @include title;
  @include card;
  padding: 5rem;
  z-index: 1;
}
