.Constellations-Item {
  margin: 1rem;
  padding: 1rem;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  &-Image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;
  }

  &-Name {
    color: #fff;
    margin: .5rem;
    text-align: center;
  }
}