@import '../../styles/mixins';

.Header {

  z-index: 10;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  background: #000;
  color: #fff;

  .Container {
    padding: .25rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Left,
  &-Right {
    display: flex;
    align-items: center;
  }

  &-Left {
    .Input {
      margin: 0 1rem 0 2rem;
      width: 240px;
    }
  }

  &-Right {
    justify-content: flex-end;
    flex: 1;
  }

  &-Nav {
    display: flex;
    align-items: center;

    a {
      margin: 0 1rem;
    }
  }

  &-Menu {
    &-Toggle {
      display: block;
      margin-right: 1rem;
      font-size: 2rem;
      cursor: pointer;
    }

    &-Container {
      position: fixed;
      display: flex;
      flex-direction: column;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, .5);
      padding: 1rem;
      min-width: 160px;
      border-radius: 0 0 0 1rem;
      opacity: 0;
      transform: translateY(50%) translateX(100%);
      pointer-events: none;
      transition:
        .25s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity,
        .25s cubic-bezier(0.785, 0.135, 0.15, 0.86) transform;

      &--opened {
        opacity: 1;
        transform: translateY(50%) translateX(0);
        pointer-events: all;
      }
    }

    &-Item {
      margin: .75rem 0;
      font-weight: 600;
    }
  }
}
