@import "../../styles/mixins";

.Header {
  z-index: 10;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  background: var(--color-violet-deep);
  color: var(--color-lilac);

  .Container {
    padding: 0.25rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Logo {
    @include svg;
    fill: var(--color-lilac);
    width: 4.5rem;
    height: auto;
    margin-left: 0.7rem;
  }

  &-Search {
    position: relative;

    &-Options {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 1rem;
      width: calc(100% - 1rem);
      transform: translateY(100%);
      background: #000;
      border-radius: 0 0 1rem 1rem;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity;
      overflow: auto;
      max-height: 10rem;
    }

    &-Option {
      padding: 0.5rem 1rem;
      margin: 0.125rem 0;
      background: transparent;
      transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) background;
      cursor: pointer;

      &:hover {
        background: rgba(#fff, 0.125);
      }
    }

    .Input:focus + &-Options {
      opacity: 1;
    }
  }

  &-Left,
  &-Right {
    display: flex;
    align-items: center;
  }

  &-Left {
    .Input {
      margin: 0 1rem 0 2rem;
      width: 240px;
    }
  }

  &-Right {
    justify-content: flex-end;
    flex: 1;
  }

  &-Nav {
    @include link;
    display: flex;
    align-items: center;

    a {
      margin: 0 1rem;
    }
  }

  &-Menu {
    &-Toggle {
      @include svg;
      display: block;
      margin-right: 1rem;
      font-size: 2rem;
      cursor: pointer;
    }

    &-Container {
      position: fixed;
      display: flex;
      flex-direction: column;
      right: 0;
      top: 47px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1rem;
      min-width: 160px;
      border-radius: 0 0 0 1rem;
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
      transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) opacity,
        0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) transform;

      &--opened {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
    }

    &-Item {
      margin: 0.75rem 0;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
