h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color:#b1a7cf;
  letter-spacing: 0.12rem;
  text-shadow: #b1a7cf 2px 1px 12px;
}

.constellations {
  &-container {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &-item {
    margin: 1rem;
    padding: 1rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &-image {
      width: 120px;
      height: 120px;
      object-fit: cover;
      object-position: left;
      border-radius: 50%;
    }

    &-name {
      color: #fff;
      margin: .5rem;
    }

    &-text {
      color: #000;
      position: absolute;
    }
  }

  &-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    max-width: 100%;
    background: rgba(0, 0, 0, .25);
    z-index: 11;

    &-container {
      position: relative;
      background-color:#b1a7cfbe;
      border-radius: 1rem;
      width: 40rem;
    }

    &-close {
      position: absolute;
      color: #fff;
      font-size: 2rem;
      right: -1.5rem;
      top: -1.5rem;
      cursor: pointer;
    }
  }
}
